# Configurazione Token API Minecraft Italia (Opzionale per l'endpoint pubblico dei voti)
MINECRAFT_ITALIA_API_TOKEN=
SERVER_ID=457

# URL del Webhook Discord per inviare i report
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/tuo_webhook_url
